<!DOCTYPE html>
<html>
    <head>
        <title>chit-chat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <h1>Ch</h1>
            <h2>it</h2>
            <h2>at</h2>
        <form>
        <div id='app'>
            <rows>
                <div class="col-md-6" id="translateTxt">
                    <button data-toggle="dropdown">language 1</button>
                    <textarea class="form-control" rows="6"></textarea>
                </div>
                <div class="col-md-6"></div>
                      <button data-toggle="dropdown">language 2</button>
                      <div id="resultTranslate" class="form-control" rows="6">sdfg</div>
                </div>
            <!--<h1>{{ msg }}</h1>-->
            <!--<div class="dropdown">-->
            <!--<input v-model="message" data-toggle="dropdown">-->
            <!--</div>-->
            <!--<input v-model="message">--><!--no vue gil said no-->
            </rows>
        </div>
        </form>
        <!--<script src='https://unpkg.com/vue/dist/vue.js'></script>-->
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>