h1{

    font-size: 100px
}
.btn {
    font-size: 16px;
}
.center{
    padding: 100px 20px;
}
#flip{
    float: right;
    border-radius: 5px;
    padding: 2px;
}
.Txt{
    margin-top: 20px;
}
#flipImg{
    height: 25px;
    width: 50px;
}