h1{

    font-size: 100px
}
.btn {
    margin-bottom: 10px;
}
.center{
    padding: 50px 0;
}
.Txt{
    margin: 20px 0px 20px 0px;
}
.second{
    float: right;
    border-radius: 5px;
}
.Txt{
    margin-top: 20px;
    font-size: 20px;
}
@keyframes gifs {
    0%   {color:red; left:0px; top:70px;}
    25%  {color:yellow; left:600px; top:70px;}
    50%  {color:blue; left:600px; top:220px;}
    75%  {color:green; left:0px; top:220px;}
    100% {color:red; left:0px; top:70px;}
}
#gif{
    /*width: 100px;*/
    /*height: 100px;*/
    font-size: 60px;
    color: red;
    position: absolute;
    animation-name: gifs;
    animation-duration: 10s;
    animation-iteration-count: 100;
    margin-top: 300px;
    margin-left: 300px;
    display: none;
}
